.box {
    width: 150px;
    height: 150px;
    margin: 20px;
}

#colors {
    background-color: yellow;
    transition: background-color 3s linear 2s;
}

#colors:hover {
    background-color: hotpink;
}

#box1 {
    background-color: green;
    transition: width 2s;
}

#box1:hover {
    width: 300px;
}

#box2 {
    background-color: red;
    transition: height 2s;
}

#box2:hover {
    height: 300px;
}

#box3 {
    background-color: blue;
    transition: height 2s, width 3s;
}

#box3:hover {
    height: 300px;
    width: 300px;
}