@media screen and (max-width: 480px) {
    figure {
    width: 100%;
    }
    #gallery {
    width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    figure {
    width: 100% 
    }
    
    #gallery {
    width: 100%;
    }
}
    
@media screen and (min-width: 768px) and (max-width: 992px) {
    figure {
    width: 49% 
    }
 
}

@media screen and (min-width: 993px) {
    figure {
    width: 33%;
    }
}
