body {
    background-color: aquamarine
}

p {
    font-size: 2rem;
    margin-bottom: 25px;
}

.bg {
/*
    background-color: rgba(147, 22,65,.4);
    background-image: url(../img/akademia108_logo_mob.png);
    background-repeat: no-repeat;
    background-position: 100px 50px;
*/
    
    background: rgba(147, 22,65,.4) url(../img/akademia108_logo_mob.png) no-repeat 100px 50px; 
    
    
    
    
    background-size: 500px auto;
    
}